In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np
iris=datasets.load_iris()

In [2]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [3]:
iris=pd.DataFrame(data=np.c_[iris['data'],iris['target']],columns=iris['feature_names']+['target'])

In [4]:
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [5]:
species=[]
for i in range(len(iris['target'])):
    if iris['target'][i]==0:
        species.append('Setosa')
    elif iris['target'][i]==1:
        species.append('Versicolor')
    else:
        species.append('Virginica')

In [6]:
iris['species']=species

In [7]:
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0.0,Setosa
1,4.9,3.0,1.4,0.2,0.0,Setosa
2,4.7,3.2,1.3,0.2,0.0,Setosa
3,4.6,3.1,1.5,0.2,0.0,Setosa
4,5.0,3.6,1.4,0.2,0.0,Setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0,Virginica
146,6.3,2.5,5.0,1.9,2.0,Virginica
147,6.5,3.0,5.2,2.0,2.0,Virginica
148,6.2,3.4,5.4,2.3,2.0,Virginica
149,5.9,3.0,5.1,1.8,2.0,Virginica

In [8]:
iris.groupby('species').size()

species
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [9]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [10]:
iris.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
species              0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x=iris.drop(['target','species'],axis=1)
y=iris['target']

In [12]:
x_train,x_valid_test,y_train,y_valid_test=train_test_split(x,y,test_size=0.3,train_size=0.7,random_state=50)

In [13]:
x_valid,x_test,y_valid,y_test=train_test_split(x_valid_test,y_valid_test,test_size=0.5)

In [26]:
print(len(x_valid_test))

45

In [14]:
print(len(x_valid))

22

In [15]:
print(len(x_test))

23

In [16]:
x_train.shape

(105, 4)

In [17]:
y_train.shape

(105,)

In [18]:
from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression()
log_model.fit(x_train,y_train)
pred=log_model.predict(x_test)

C:\Users\Apoorva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
training_prediction=log_model.predict(x_train)
testing_prediction=log_model.predict(x_test)

In [27]:
print(classification_report(y_train,training_prediction))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        36
         1.0       1.00      0.94      0.97        33
         2.0       0.95      1.00      0.97        36

    accuracy                           0.98       105
   macro avg       0.98      0.98      0.98       105
weighted avg       0.98      0.98      0.98       105

In [28]:
from sklearn.metrics import classification_report,confusion_matrix
print("Classification report:")
print(classification_report(y_test,testing_prediction))

Classification report:
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00         6
         1.0       1.00      1.00      1.00        10
         2.0       1.00      1.00      1.00         7

    accuracy                           1.00        23
   macro avg       1.00      1.00      1.00        23
weighted avg       1.00      1.00      1.00        23

In [23]:
from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression()
log_model.fit(x_train,y_train)
pred=log_model.predict(x_valid)

C:\Users\Apoorva\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [24]:
valid_prediction=log_model.predict(x_valid)

In [29]:
from sklearn.metrics import classification_report,confusion_matrix
print("Classification report:")
print(classification_report(y_valid,valid_prediction))

Classification report:
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00         8
         1.0       1.00      0.86      0.92         7
         2.0       0.88      1.00      0.93         7

    accuracy                           0.95        22
   macro avg       0.96      0.95      0.95        22
weighted avg       0.96      0.95      0.95        22